.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Hover effects */

.button-hover {
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.button-hover:hover {
  background-color: rgba(18, 68, 167, 0.8);
}

.policy-table tr {
  transition: background-color 0.3s ease;
}

.policy-table tr:hover {
  background-color: rgba(40, 44, 52, 0.1);
}

@media (max-width: 600px) {
  button {
    width: 100%;
    margin-top: 5px;
  }
  .app-title {
    font-size: initial;
  }
  .footer p {
    font-size: smaller;
  }

  .policy-list-view {
    padding: 5px;
  }

  .policy-form {
    width: 300px;
  }
  .app-bar-actions {
    font-size: smaller;
  }
}
